*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  width: 100%;
  background-color: rgba(26, 86, 26, 0.618); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}

.title{
  align-self: center;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding: 10px;
}

nav{
width: 100%;
}

.nav-wrapper{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  
}

.nav-wrapper li{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(255, 255, 255);
  border-radius: 50px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  
}
main{
  width: 100%;
  height: 70vh;
  background-color: rgb(10, 149, 242);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.main-div-wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.main-elem{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100px;
  background-color:rgb(10, 10, 229)
}

footer{
  width: 100%;
  height: 20vh;
  background-color:rgb(10, 189, 229);
  display: flex;
  justify-content: center;
  align-items: center;
}