*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  width: 100%;
  background-color: rgba(26, 86, 26, 0.618); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title{
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin: 10px;
}

nav{
width: 100%;
}

.nav-wrapper{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}

.nav-wrapper li{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(255, 255, 255);
  border-radius: 50px;
  height: 40px;
  padding: 10px;
  margin: 20px;
}

