*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header{
  background-color: rgba(26, 86, 26, 0.618); 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title{
  align-self: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}



.nav-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  list-style: none;
  flex-basis: auto;
  flex-basis: 80%;
  margin: 10px;
}

.nav-wrapper li{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color:rgb(255, 255, 255);
  border-radius: 50px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  
}
main{
  min-height: 70vh;
  background-color: rgb(10, 149, 242);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.main-div-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100%;

}

.main-elem{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 300px;
  height: 100px;
  background-color:rgb(10, 10, 229);
  margin: 10px;
  
}

footer{
  display: flex;
  justify-content: center;
  height: 15vh;
  background-color:rgb(10, 189, 229);
  
}